<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/post" method="post" enctype="multipart/form-data">
                <strong>Select an image </strong><input type="file" name="imageToUpload" accept="image/*"><br><br>
                {% if groups %}
                    <strong>Select FriendGroups:</strong><br>
                    {% for group in groups %}
                        <strong>{{group.groupName}}</strong> owned by <strong>{{group.owner_username}}</strong>
                        <input type="checkbox" name="shareGroup" value='{"groupname":"{{group.groupName}}", "ownername":"{{group.owner_username}}"}' multiple/><br>
                    {% endfor %}
                    <br>
                {% endif %}
                <strong>Show post to all your followers?</strong>
                <input type="radio" name="allFollowers" value="True" checked>Yes
                <input type="radio" name="allFollowers" value="False">No<br>
                <strong>Include a caption:</strong><br>
                <textarea rows="3" cols="25" maxlength="100" name="caption" placeholder="Caption"></textarea><br>
                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/home">Go back</a>
    </body>
</html>