<html>
    <head>
        <title>Image Upload</title>
    </head>
    <body>
        <h1>Upload an Image!</h1>
        <div>
            <form action="/post" method="post" enctype="multipart/form-data">
                <input type="file" name="imageToUpload" accept="image/*">
                <br/>
                <h2>Show post to all your followers?</h2>
                <input type="radio" name="allFollowers" value="True" checked>True<br>
                <input type="radio" name="allFollowers" value="False">False<br>
                <textarea rows="3" cols="25" maxlength="100" name="caption" placeholder="Caption"></textarea>
                <input type="submit" value="Upload">
            </form>
        </div>
        {% if message %}
            {{ message }}
        {% endif %}
        <br/>
        <a href="/home">Go back</a>
    </body>
</html>