<html>
<head></head>
<body>
    <ul>
        <li>Caption: {{info.caption}}</li>
        <li>Time Stamp: {{info.postingdate}}</li>
        <li>First Name: {{info.firstName}}</li>
        <li>Last Name: {{info.lastName}}</li>
        <li>{{stat.total_like}} Total Likes, Average Rating: {{stat.avg_rating}}</li>
        <li>Liked By: 
            <ul>
                {% for liked in liked_by %}
                <li>{{liked.username}}, Rating: {{liked.rating}}, Time: {{liked.liketime}}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Comment By:
            <ul>
                {% for comment in comments %}
                <li>{{comment.username}}, Time: {{comment.comment_time}}</li>
                <p>{{comment.comment}}</p>
                {% endfor %}
            </ul>
        </li>
        <li>Tagged Users:
            <ul>
                {% for item in tagged %}
                <li>{{item.username}}, {{item.firstName}} {{item.lastName}}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
	{% if prev_page == "own_photos" %}
		<a href="/home">Go Back</a>
	{% elif prev_page == "view_photos" %}
		<a href="/view_photos">Go Back</a>
	{% endif %}
	
</body>
</html>